<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>NeoDetail | Admin</title>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
  <main class="container">
    <h1 class="title">Ingreso Admin</h1>

    <div class="panel">
      <form action="/admin/login" method="POST">
        <label>Email</label>
        <input name="usuario" class="input" value="admin@uide.com"/>

        <label>Password</label>
        <input name="password" class="input" type="password" value="1234"/>

        <button class="btn" type="submit">Entrar</button>
        <p class="hint">
          Admin por defecto: <b>UIDE / 1234</b> (email: admin@uide.com)
        </p>
      </form>
    </div>
  </main>
</body>
</html>